@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');
@import 'antd/dist/reset.css';
@import './feature/auth/SignIn/style.css';
* {
  margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  --color-primary: #009579;
  --color-primary-dark: #007f67;
  --color-secondary: #252c6a;
  --color-error: #cc3333;
  --color-success: #4bb544;
  --border-radius: 4px;
}
